In [15]:
def sub(x,y):
    return x-y
print("200-100:",sub(200,100))

print("200 - 100 : ",(lambda x,y:x-y)(200,100) )

200-100: 100
200 - 100 :  100

In [16]:
n_list = [-30,45,-5, -90, 20 ,54,77, -36]
minus_list =[]
for n in filter(lambda x: x<0,n_list):
    minus_list.append(n)
print(minus_list)

[-30, -5, -90, -36]

In [20]:
n_list = [1,2,3,4,5,6,7,8,9,10]
even_list=[]
for n in filter(lambda x: x%2 ==0 , n_list):
    even_list.append(n)
print("even_list = ",even_list)
even_list = []
for n in filter(lambda x: x%2 ==1 , n_list):
    even_list.append(n)
print("odd_list = ",even_list)

even_list =  [2, 4, 6, 8, 10]
odd_list =  [1, 3, 5, 7, 9]

In [27]:
a_list = ['a','b','c','d']
upper_a_list = list(map(lambda x: chr(ord(x)-32),a_list))
print(upper_a_list)
print('a'.upper())

['A', 'B', 'C', 'D']
A

In [41]:
a = [10,20,30]
def double (a):
    print("입력 값의 두배 : ",list(map(lambda x : x*2,a)))
def triple (a) :
    print("입력 값의 세배 : ",list(map(lambda x : x*3,a)))
double(a)
triple(a)

입력 값의 두배 :  [20, 40, 60]
입력 값의 세배 :  [30, 60, 90]

In [42]:
from functools import reduce

a= [1,2,3,4]
n = reduce(lambda x,y :x+y,a)
print(n)

10

In [49]:
a = list(range(1,101))
print("1에서 100까지의 합 : {}".format(reduce(lambda x,y:x+y,a)))
a= list(range(1,11))
print("10! = {}".format(reduce(lambda x,y : x*y, a)))

1에서 100까지의 합 : 5050
10! = 3628800

In [50]:
st = "Hello World"
s_list = [x.upper() for x in st]
print(s_list)

['H', 'E', 'L', 'L', 'O', ' ', 'W', 'O', 'R', 'L', 'D']

In [63]:
print("cubic = {}".format([x**3 for x in range(1,11)]))
a= ['welcome','to','the','python','world']
print("first_a = {}".format([x[0] for x in a]))

cubic = [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
first_a = ['w', 't', 't', 'p', 'w']

In [66]:
ages = [34,39,20,18,13,54,-20,-30,-50]
print("성년 리스트: ", [x for x in ages if x>=19])
minus_list = list(filter(lambda x : x<0,ages))
print (minus_list)

성년 리스트:  [34, 39, 20, 54]
[-20, -30, -50]

In [70]:
print("cublic = {}".format([x**3 for x in range(1,11) if x**3<=500]))
st = " Hello 1234 Python"
print([x for x in st if x.isdigit()==True])

cublic = [1, 8, 27, 64, 125, 216, 343]
['1', '2', '3', '4']

In [77]:
lst= [12,20,39]
liter = iter(lst)
for x in liter:
    print(x)
next(liter)
next(liter)
next(liter)
print(next(liter))
if StopIteration == next(liter):
    print("all good")

12
20
39

StopIteration:

In [80]:
class OddCounter:
    def __init__(self,n=1):
        self.n = n
    def __iter__(self):
        print("iter 생성")
        return self
    def __next__(self):
        print("next 실행")
        t= self.n
        self.n+=2
        return t
    
my_counter = OddCounter()
for x in my_counter:
    if x >20:
        break
    print(x, end = '')

iter 생성
next 실행
1next 실행
3next 실행
5next 실행
7next 실행
9next 실행
11next 실행
13next 실행
15next 실행
17next 실행
19next 실행

In [85]:
class my_even:
    def __init__(self,n=0):
        self.n = n
    def __iter__(self):
        return self
    def __next__(self):
        
        t = self.n
        self.n +=2
        return t
a = my_even()
for x in a :
    if(x>=10):
        break
    print(x, end=' ')
for x in a :
    if(x>=21):
        break
    print(x, end=' ')

0 2 4 6 8 12 14 16 18 20

In [88]:
txt = 'Welcome to Busan Metropolitan City'
print(txt.split())
greet = "Hello,My name is DongMin,Good to see you again"
print(greet.split(','))
fruits = 'Apple|Banana|Melon|Orange'
print(fruits.split('|'))

['Welcome', 'to', 'Busan', 'Metropolitan', 'City']
['Hello', 'My name is DongMin', 'Good to see you again']
['Apple', 'Banana', 'Melon', 'Orange']